= form_with model: [@patient, @medication_history] do |form|
  = form.label :subjective, 'S', class: 'MedHistory__main__left__label'
  %br/
  = form.text_area :subjective, class: 'MedHistory__main__left__form'
  %br
  = form.label :objective, 'O', class: 'MedHistory__main__left__label'
  %br
  = form.text_area :objective, class: 'MedHistory__main__left__form'
  %br
  = form.label :assessment, 'A', class: 'MedHistory__main__left__label'
  %br
  = form.text_area :assessment, class: 'MedHistory__main__left__form'
  %br
  = form.label :education_plan, 'EP', class: 'MedHistory__main__left__label'
  %br
  = form.text_area :education_plan, class: 'MedHistory__main__left__form'
  %br  
  = form.label :care_plan, 'CP', class: 'MedHistory__main__left__label'
  %br
  = form.text_area :care_plan, class: 'MedHistory__main__left__form'
  %br
  = form.label :observational_plan, 'OP', class: 'MedHistory__main__left__label'
  %br
  = form.text_area :observational_plan, class: 'MedHistory__main__left__form'
  %br
  = form.label :inquiry, '義義照会', class: 'MedHistory__main__left__label'
  %br
  = form.text_area :inquiry, class: 'MedHistory__main__left__form'
  %br
  = form.label :free_comment, 'フリーコメント', class: 'MedHistory__main__left__label'
  %br
  = form.text_area :free_comment, class: 'MedHistory__main__left__form'
  %br
  = form.label :request_items, '申し送り事項', class: 'MedHistory__main__left__label'
  %br
  = form.text_area :request_items, class: 'MedHistory__main__left__form'
  %br
  = form.submit '薬歴確定', class: 'MedHistory__main__left__btn'